html {
    min-height: 100%;
    position: relative;
}

body {
    padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */
}

header {
    width: 100%;
    height: 50px;
    background: #ccc;
    padding: 20px 150px;
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    top: 0;
    left: 0;
    display: flex; /* 中の要素を横並びにする */
    align-items: center; /* 中の要素を上下中央に並べる */
}

header .menu {
    display: flex; /* 中の要素を横並びにする */
    width: 40%;
    margin-left: auto;
}

header .menu li {
    list-style: none; /* リストの[・]を消す */
    margin-right: 15px;
}

.container {
   max-width: 1000px;
   margin: 0 auto;
   padding: 0 15px; 
}

.btn {
    text-align: center;
}

.btn-gray {
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(110, 109, 109);
    border: none;
    color: white;
    margin-top: 10px;
}

.btn-orange {
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: orange;
    border: none;
    color: black;
    margin-top: 10px;
}

.btn-blue {
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(0, 121, 105);
    border: none;
    color: white;
    margin-top: 10px;
}

.btn-green {
    font-size: 15px;
    padding: 2px 10px;
    border-radius: 5px;
    background-color: #2e9436;
    border: none;
    color: white;
}

.btn-red {
    font-size: 15px;
    padding: 2px 10px;
    border-radius: 5px;
    background-color: #ff5e58;
    border: none;
    color: white;
}

/* shopindex */
.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th,
.product-table td {
    border: 1px solid #ebeced;
    vertical-align: middle;
    padding: 5px 10px;
}

.product-table th {
    background-color: #dff89c;
    color: black;
}

.product-table td {
    text-align: center;
}

/* detail */
.product-detail {
    text-align: center;
}

.detail-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

.detail-table th,
.detail-table td {
    border: 1px solid #a0a1a1a1;
    vertical-align: middle;
    padding: 5px 10px;
}

.detail-table th {
    background-color: #ebeced;
    color: black;
}

.detail-table td {
    text-align: center;
    font-size: larger;
}

/* create */
.create-form {
    background-color: #ebeced;
    padding: 10px 30px;
}

.form-group {
    margin: 15px 0px;
}

.form-image_url {
    margin: 20px 0px;
}

.form-control {
    width: 100%;
    height: 25px;
}


/* manegeorder */
.manegeorder-table {
    width: 100%;
    border-collapse: collapse;
}

.manegeorder-table th,
.manegeorder-table td {
    border: 1px solid #ebeced;
    vertical-align: middle;
    padding: 5px 10px;
}

.manegeorder-table th {
    background-color: #dff89c;
    color: black;
}

.manegeorder-table td {
    text-align: center;
}
