html {
    min-height: 100%;
    position: relative;
}

body {
    padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */
}

header {
    width: 100%;
    height: 50px;
    padding: 10px 100px;
    position: fixed; /* ウィンドウを基準に画面に固定 */
    background-color: #2e9436;
    top: 0;
    left: 0;
    display: flex; /* 中の要素を横並びにする */
    align-items: center; /* 中の要素を上下中央に並べる */
}

header .menu {
    display: flex; /* 中の要素を横並びにする */
    width: 30%;
    margin-left: auto;
    margin-right: 100px;
    color: #fff;
}

header .menu li {
    list-style: none;
    margin-right: 15px;
    font-weight: bolder;
}

h2 {
    font-size: 32px;
    color: #fff;
}

.btn-logout {
    margin-top: -3px;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #e7e7e7;
    border: none;
}

.btn-logout:hover {
    background-color: #cacaca;
}

.container1 {
    height: 70px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

/* shopindex */
.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th,
.product-table td {
    border-width: 1px 0px; /* テーブルの線を上下だけ引く */
    border-color: #b2cc6a;
    border-style: solid;
    padding: 10px 0px;
}

.product-table th {
    background-color: #dbfd7f;
}

.product-table td {
    text-align: center;
}

.btn {
    margin-left: 630px;
    display: flex;
}

.btn-blue {
    margin-left: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    background-color: #00bff8;
    border: none;
    color: white;
    font-weight: bolder;
}

.btn-blue:hover {
    background-color: #02ade0;
}

.btn-green {
    font-size: 15px;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #2e9436;
    border: none;
    color: white;
}

.btn-green:hover {
    background-color: #1d5f22;
}

.trash-icon {
    background-color: white;
    border: none;
}

/* .btn-red {
    font-size: 15px;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #ff5e58;
    border: none;
    color: white;
}

.btn-red:hover {
    background-color: #e43f39;
}
*/

/* detail */
.product-detail {
    text-align: center;
}

.detail-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

.detail-table th,
.detail-table td {
    border-width: 1px 0px;
    border-color: #a0a1a1a1;
    border-style: solid;
    padding: 5px 10px;
}

.detail-table th {
    background-color: #ebeced;
}

.detail-table td {
    text-align: center;
    font-size: larger;
}

/* create */
.create-form {
    background-color: #effcc1;
    padding: 10px 30px;
}

.form-group {
    margin: 15px 0px;
}

.form-image_url {
    margin: 20px 0px;
}

.form-control {
    width: 100%;
    height: 25px;
}

.btn-orange {
    width: 100px;
    margin-left: 420px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ff6600;
    border: none;
    font-weight: bolder;
    color: #fff;
    margin-top: 10px;
}

.btn-orange:hover {
    background-color: orange;
}

.btn-gray {
    width: 150px;
    margin-left: 425px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #6e6d6d;
    border: none;
    color: #fff;
    margin-top: 10px;
}

.btn-gray:hover {
    background-color: #585858;
}

/* manegeorder */
.manegeorder-table {
    width: 100%;
    border-collapse: collapse;
}

.manegeorder-table th,
.manegeorder-table td {
    border-width: 1px 0px;
    border-color: #b2cc6a;
    border-style: solid;
    padding: 10px 0px;
}

.container-manageorder {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.manegeorder-table th {
    background-color: #dbfd7f;
}

.manegeorder-table td {
    text-align: center;
}

.btn-gray1 {
    width: 150px;
    margin-left: 425px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #6e6d6d;
    border: none;
    color: #fff;
    margin-top: 10px;
}

.btn-gray1:hover {
    background-color: #585858;
}

.btn-gray2 {
    width: 150px;
    margin-left: 575px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #6e6d6d;
    border: none;
    color: #fff;
    margin-top: 10px;
}

.btn-gray2:hover {
    background-color: #585858;
}
